* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
}

h1,
h4 {
  margin: 2rem 2rem 0 2rem;
}

.home-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4rem;
  font-weight: 750;
  /* margin: auto; */
  margin-top: 5rem;
  width: 60%;
  padding: 10% 20%;
  text-align: center;
  background-color: #ffd700;
}

.task-title-wrapper {
  margin: 1rem;
}

.task-title {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.task-title-done {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: black;
  font-weight: 700;
}

.task-description {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.btn {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  border: none;
  box-sizing: border-box;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s;
}

.btn:hover {
  outline: none;
  background-color: black;
  color: white;
  box-shadow: none;
}

/* dashboard */

.dashboard-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 2rem;
}

.dashboard-card {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.dashboard-day-title {
  padding: 1rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.dashboard-task {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid #f0f0f0;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.dashboard-task:hover {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* navbar */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 50px;
  background-color: white;
}

/* img {
  width: 2rem;
  border-radius: 100%;
} */

.navigation {
  list-style: none;
  height: 50px;
  display: flex;
}

.navigation-link {
  display: flex;
  text-decoration: none;
  border: none;
  background-color: white;
  padding: 1rem;
  font-weight: 700;
  color: black;
  box-sizing: border-box;
  transition: all 0.5s;
}

.navigation-link:hover {
  color: white;
  background-color: black;
  border-bottom: 5px solid #ffd700;
}

.active-link {
  display: flex;
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  font-weight: 700;
  color: black;
  box-sizing: border-box;
  transition: all 0.5s;
  border-bottom: 5px solid black;
}

.active-link:hover {
  color: white;
  background-color: black;
  border-bottom: 5px solid #ffd700;
}

.nav-btn-wrapper {
  display: flex;
}

/* quickform */

.quickform-wrapper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.quickform-top-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.quickform-bottom-row {
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.title-input {
  font-size: 1rem;
  height: 1rem;
  width: 50vw;
  padding: 20px;
  margin: 1rem 1rem 1rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  border: none;
}

.title-input:focus {
  outline: 3.5px solid black;
  /* border: 1px solid #f0f0f0; */
  /* box-shadow: none; */
}

/* .title-input:hover {
  outline: none;
  border: 1px solid #f0f0f0;
  box-shadow: none;
} */

.add-btn {
  display: block;
  border: none;
  background-color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.7s;
}

.add-btn:hover {
  outline: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  background-color: black;
  color: white;
  transition: 0.5s;
}

.date-input {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.date-input:focus {
  outline: 2px solid black;
}

.fields-btn {
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.7s;
}

.fields-btn:hover {
  box-sizing: border-box;
  background-color: black;
  color: white;
  box-shadow: none;
  text-decoration: underline;
  text-decoration-color: #ffd700;
  text-decoration-thickness: 5px;
}

/* today */

.today-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem 50% 1rem 1rem;
}

.today-task {
  box-sizing: border-box;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  margin: 0 2rem 0 2rem;
  transition: all 0.3s;
}

.today-task:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* all tasks */

.tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}

.alltasks-task {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  margin: 0 0 0 1rem;
  transition: all 0.3s;
}

.column-order {
  display: flex;
  flex-direction: column;
}

.alltasks-task:hover {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.alltasks-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alltasks-wrapper-container {
  display: flex;
  justify-content: flex-end;
}

/* taskdetails */

.taskdetails-background {
  padding: 1rem;
  margin: 5rem 30rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.taskdetails-content-wrapper {
  border-top: 3px solid black;
}

.taskdetails-left-indent {
  margin-left: 2rem;
}

.taskdetails-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem 2rem 2rem 1rem;
  gap: 1rem;
}

.advanced-options-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem 50rem 2rem 2rem;
  gap: 1rem;
}

.taskdetails-input {
  font-size: 1rem;
  height: 0.5rem;
  width: 25vw;
  margin-bottom: 0.5rem;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  border: none;
}

.taskdetails-input:focus {
  outline: 3.5px solid black;
  /* border: 1px solid #f0f0f0; */
  /* box-shadow: none; */
}

.taskdetails-input-below {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.btn-2 {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  border: none;
  box-sizing: border-box;
  margin: 2rem 2rem 2rem 0;
  padding: 0.5rem 2rem;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.7s;
}

.btn-2:hover {
  outline: none;
  background-color: black;
  color: white;
  box-shadow: none;
}

.btn-2:focus {
  outline: none;
}

.search-input {
  max-height: 1rem;
  font-size: 1rem;
  margin: 2rem 2rem 1rem 0;
  padding: 0.5rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  border: none;
}

.search-input:focus {
  outline: 3.5px solid black;
}

@media screen and (max-width: 750px) {
  .alltasks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .alltasks-wrapper-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 2rem;
  }
}

.checkbox {
  margin: 1rem 1rem 1rem 2rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  border: 1px solid black;
}

.tag {
  max-height: 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  width: fit-content;
  color: white;
  background-color: black;
  padding: 0.1rem 0.3rem;
}
