* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h4 {
  margin: 2rem 0 0 2rem;
}

.task-title {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.task-description {
  font-size: 0.8rem;
}

.btn {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  border: none;
  box-sizing: border-box;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all;
}

.btn:hover {
  outline: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
}

/* dashboard */

.dashboard-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 2rem;
}

.dashboard-card {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dashboard-day-title {
  padding: 1rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.dashboard-task {
  text-decoration: none;
  margin: 0.5rem;
  padding: 1rem;
  border: 0.1px solid #f0f0f0;
  border-radius: 10px;
  transition: all 0.3s;
}

.dashboard-task:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* navbar */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 50px;
}

/* img {
  width: 2rem;
  border-radius: 100%;
} */

.navigation {
  list-style: none;
  height: 50px;
  display: flex;
}

.navigation-link {
  display: flex;
  text-decoration: none;
  padding: 1rem;
  font-weight: 700;
  color: black;
  box-sizing: border-box;
  transition: all 0.5s;
}

.navigation-link:hover {
  color: white;
  background-color: black;
}

/* quickform */

.quickform {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.quickform-wrapper {
  display: flex;
  flex-direction: row;
  height: 12vh;
  border: 1px solid red;
}

.title-input {
  font-size: 1rem;
  width: 50vw;
  padding: 20px;
  margin: 1rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  border: none;
}

.title-input:focus {
  outline: none;
  border: 1px solid #f0f0f0;
  box-shadow: none;
}

.title-input:hover {
  outline: none;
  border: 1px solid #f0f0f0;
  box-shadow: none;
}

.add-btn {
  text-decoration: none;
  border: none;
  background-color: white;
  padding: 1.3rem;
  margin: 0.5rem 1rem;
  display: inline-block;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all;
}

.add-btn:hover {
  outline: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  /* background-color: #f0f0f0; */
}

#addtask-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.date-input {
  border: none;
  font-size: 1rem;
  width: 7vw;
  margin: 1.1rem;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fields-btn {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid red;
}

/* today */

.today-wrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
}

.today-task {
  box-sizing: border-box;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  margin: 0 0 0 1rem;
  transition: all 0.3s;
}

.today-task:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* all tasks */

.tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin: 1rem;
}

.alltasks-task {
  box-sizing: border-box;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  border: 1.5px solid #f0f0f0;
  margin: 0 0 0 1rem;
  transition: all 0.3s;
}

.alltasks-task:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* taskdetails */

.taskdetails-wrapper {
  display: flex;
  margin: 2rem;
}
